[Unit]
Description=Docker Event Scripts
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=-/etc/default/des
Restart=on-failure
ExecStart=/usr/local/bin/des -e $DOCKER_ENDPOINT -d $DES_BASEDIR $DES_VERBOSE 

[Install]
WantedBy=multi-user.target