[Unit]
Description=Docker Event Scripts
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/des -d /etc/docker/events.d 

[Install]
WantedBy=multi-user.target